/*** Nokersang 2016-11 ***/

/* CSS Reset */
html,body,iframe,div,span,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,p,a,strong,img,form,fieldset,legend,label{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;}body{line-height:1;}ul,ol{list-style:none;}a{text-decoration:none;}a:hover{text-decoration:underline;}select,input,button{vertical-align:middle;}table{border-collapse:collapse;border-spacing:0;}html{zoom:expression(function(ele){ele.style.zoom="1";document.execCommand("BackgroundImageCache",false,true);}(this));}*html,*html body{background-image:url(about:blank);background-attachment:fixed;}b,em,i{font-style:normal;font-weight:normal;}

/* Blank */
.bk1,.bk2,.bk3,.bk4,.bk5,.bk6,.bk7,.bk8,.bk9,.bk10,.bk11,.bk12,.bk13,.bk14,.bk15,.bk16,.bk17,.bk18,.bk19,.bk20{clear:both;font:1px/1px Arial;overflow:hidden;}.bk1{height:1px;}.bk2{height:2px;}.bk3{height:3px;}.bk4{height:4px;}.bk5{height:5px;}.bk6{height:6px;}.bk7{height:7px;}.bk8{height:8px;}.bk9{height:9px;}.bk10{height:10px;}.bk11{height:11px;}.bk12{height:12px;}.bk13{height:13px;}.bk14{height:14px;}.bk15{height:15px;}.bk16{height:16px;}.bk17{height:17px;}.bk18{height:18px;}.bk19{height:19px;}.bk20{height:20px;}

/* Page */
body{background:#F9F9F9;font-family:Arial;}

noscript div{display:block;width:auto;height:28px;background:#FFA;font:bold 14px/2 "Microsoft YaHei";color:#F00;text-align:center;}
noscript div a{color:#39E;}
noscript div a:hover{color:#F60;}

#focus{width:960px;height:210px;margin:20px auto 12px auto;}

#focus_pic{position:relative;z-index:0;float:left;width:700px;height:210px;overflow:hidden;}
#focus_pic .content{position:absolute;z-index:1;left:0;width:10000px;height:210px;}
#focus_pic .content a{float:left;display:block;width:700px;height:210px;}
#focus_pic .content a img{display:block;width:700px;height:210px;}
#focus_pic .pagination{position:absolute;z-index:1;bottom:0;left:0;width:100%;height:5px;font:1px/1 Arial;white-space:nowrap;display: flex;}
#focus_pic .pagination em{display:inline-block;height:5px;background: #00000040;font:1px/1 Arial;flex: 1;}
#focus_pic .pagination em.active{background:#0091ff;}

#focus_right{float:right;width:250px;height:210px;overflow:hidden;}
#focus_right a{display:block;width:250px;height:100px;margin:0 0 10px 0;}
#focus_right a img{display:block;width:250px;height:100px;transition:all 0.3s;}
#focus_right a:hover img{transform:scale(1.07);}

#top_link{width:946px;height:57px;margin:0 auto 10px auto;padding:5px 0 0 12px;border:1px solid #EEE;background:#FFF;overflow:hidden;}
#top_link a{display:inline-block;margin:0 16px 0 0;font:12px/2.2 "Microsoft YaHei";color:#888;}
#top_link a:hover{color:#F60;}

#recommend_game{position:relative;z-index:0;width:958px;height:803px;margin:0 auto 10px auto;border:1px solid #EEE;background:#FFF;overflow:hidden;}
#recommend_game .title{height:32px;padding:6px 6px 6px 16px;border-bottom:1px solid #EEE;font:16px/2 "Microsoft YaHei";color:#555;overflow:hidden;}
#recommend_game .title em{display:inline-block;width:22px;height:22px;margin:4px 2px 6px 0;background:url(../images/index_bg.png) 0 1px no-repeat;vertical-align:middle;}
#recommend_game .label{position:absolute;z-index:1;top:0;right:0;font:14px/3 "Microsoft YaHei";color:#777;}
#recommend_game .label span{display:inline-block;height:42px;width:auto;padding:1px 20px 0 20px;border-bottom:1px solid #FFF;text-align:center;cursor:pointer;}
#recommend_game .label span.active{border-bottom:1px solid #3EBD92;color:#3EBD92;cursor:default;}
#recommend_game .content{}
#recommend_game .content .box{width:1000px;height:auto;}
#recommend_game .content .box a{float:left;display:block;width:148px;height:234px;padding:18px 5px 0 6px;border:solid #EEE;border-width:0 1px 1px 0;font:14px/2 "Microsoft YaHei";color:#333;text-decoration:none;text-align:center;overflow:hidden;}
#recommend_game .content .box a:hover{background:#EEF3F3;color:#F60;}
#recommend_game .content .box a img{display:block;width:120px;height:168px;margin:0 auto 6px auto;}
#recommend_game .content .box a div{font-size:12px;line-height:1.5;color:#999;}
#recommend_game .content .shouji a{position:relative;z-index:0;height:135px;padding:16px 5px 0 6px;}
#recommend_game .content .shouji a img{width:72px;height:72px;}
#recommend_game .content .shouji a em{position:absolute;z-index:1;top:16px;left:44px;width:72px;height:76px;background:url(../images/shouji_cover.png) 0 0 no-repeat;_background:none;}
#recommend_game .content .shouji a:hover em{background:url(../images/shouji_cover_hover.png) 0 0 no-repeat;_background:none;}

#recommend_tag{position:relative;z-index:0;width:958px;height:355px;margin:0 auto 10px auto;border:1px solid #EEE;background:#FFF;overflow:hidden;}
#recommend_tag .label{position:absolute;z-index:1;top:0;left:0;width:1000px;border-bottom:1px solid #3EBD92;font:14px/3 "Microsoft YaHei";color:#777;}
#recommend_tag .label span{display:inline-block;height:42px;width:auto;padding:1px 24px;text-align:center;cursor:pointer;}
#recommend_tag .label span.active{background:#3EBD92;color:#FFF;cursor:default;}
#recommend_tag .content{}
#recommend_tag .content .box{}
#recommend_tag .content .box .pic{width:1000px;height:90px;margin:61px 0 10px -1px;overflow:hidden;}
#recommend_tag .content .box .pic a{float:left;display:block;width:228px;height:90px;margin:0 16px 0 0;overflow:hidden;}
#recommend_tag .content .box .pic a img{display:block;width:228px;height:90px;transition:all 0.3s;}
#recommend_tag .content .box .pic a:hover img{transform:scale(1.07);}
#recommend_tag .content .box .word{width:960px;height:30px;padding:0 0 0 12px;font:12px/3 "Microsoft YaHei";color:#888;overflow:hidden;}
#recommend_tag .content .box .word a{display:inline-block;margin:0 16px 0 0;color:#666;}
#recommend_tag .content .box .word a:hover{color:#F60;}
#recommend_tag .content .box .word a.r{color:#D44;}
#recommend_tag .content .box .word a.r:hover{color:#F60;}
#recommend_tag .content .box .word em{display:inline-block;width:22px;height:30px;background:url(../images/index_bg.png) -93px -91px no-repeat;vertical-align:middle;}

#shouji_area{width:960px;height:auto;margin:0 auto 10px auto;overflow:hidden;}

#shouji_game{position:relative;z-index:0;float:left;width:708px;height:728px;border:1px solid #EEE;background:#FFF;overflow:hidden;}
#shouji_game .title{height:32px;padding:6px 6px 6px 16px;border-bottom:1px solid #EEE;font:16px/2 "Microsoft YaHei";color:#555;overflow:hidden;}
#shouji_game .title em{display:inline-block;width:22px;height:22px;margin:4px 2px 6px 0;background:url(../images/index_bg.png) -50px 1px no-repeat;vertical-align:middle;}
#shouji_game .label{position:absolute;z-index:1;top:0;right:0;font:14px/3 "Microsoft YaHei";color:#777;}
#shouji_game .label span{display:inline-block;height:42px;width:auto;padding:1px 20px 0 20px;border-bottom:1px solid #FFF;text-align:center;cursor:pointer;}
#shouji_game .label span.active{border-bottom:1px solid #3EBD92;color:#3EBD92;cursor:default;}
#shouji_game .content{}
#shouji_game .content .box{width:800px;height:auto;}
#shouji_game .content .box a{float:left;display:block;position:relative;z-index:0;width:220px;height:95px;padding:18px 0 0 16px;border:solid #EEE;border-width:0 1px 1px 0;font:14px/2 "Microsoft YaHei";color:#333;text-decoration:none;}
#shouji_game .content .box a:hover{background:#EEF3F3;color:#F60;}
#shouji_game .content .box a img{float:left;display:block;width:72px;height:72px;margin:2px 12px 0 0;}
#shouji_game .content .box a em{position:absolute;z-index:1;top:20px;left:16px;width:72px;height:76px;background:url(../images/shouji_cover.png) 0 0 no-repeat;_background:none;}
#shouji_game .content .box a:hover em{background:url(../images/shouji_cover_hover.png) 0 0 no-repeat;_background:none;}
#shouji_game .content .box a div{margin:0 0 0 84px;font-size:12px;color:#999;}
#shouji_game .content .box a span.star{display:inline-block;width:50px;height:18px;margin:6px 0 0 0;background:url(../images/game_bg.png) -100px -296px no-repeat;}
#shouji_game .content .box a span.star em{position:inherit;display:block;height:18px;background:url(../images/game_bg.png) -100px -346px no-repeat;}

#shouji_rank{float:right;width:238px;height:728px;border:1px solid #EEE;background:#FFF;overflow:hidden;}
#shouji_rank .label{width:300px;height:42px;background:#EEE;font:14px/3 "Microsoft YaHei";color:#666;}
#shouji_rank .label span{display:inline-block;width:119px;height:42px;text-align:center;cursor:default;}
#shouji_rank .label span.active{background:#FFF;color:#3EBD92;}
#shouji_rank .content{padding:6px 0 0 0;}
#shouji_rank .content .box{}
#shouji_rank .content .box a{display:block;height:28px;padding:6px 0 6px 16px;font:14px/2 "Microsoft YaHei";color:#666;text-decoration:none;}
#shouji_rank .content .box a:hover{background:#EEF3F3;color:#F60;}
#shouji_rank .content .box a em{float:left;width:20px;height:28px;margin:0 12px 0 0;font-style:normal;color:#999;text-align:center;}
#shouji_rank .content .box a em.t{color:#ED3A3A;}
#shouji_rank .content .box a img{float:left;width:24px;height:24px;margin:2px 12px 0 0;border-radius:20%;}

#danji_area{width:960px;height:auto;margin:0 auto 10px auto;overflow:hidden;}

#danji_game{position:relative;z-index:0;float:left;width:708px;height:728px;border:1px solid #EEE;background:#FFF;overflow:hidden;}
#danji_game .title{height:32px;padding:6px 6px 6px 16px;border-bottom:1px solid #EEE;font:16px/2 "Microsoft YaHei";color:#555;overflow:hidden;}
#danji_game .title em{display:inline-block;width:22px;height:22px;margin:4px 2px 6px 0;background:url(../images/index_bg.png) -100px 3px no-repeat;vertical-align:middle;}
#danji_game .label{position:absolute;z-index:1;top:0;right:0;font:14px/3 "Microsoft YaHei";color:#777;}
#danji_game .label span{display:inline-block;height:42px;width:auto;padding:1px 20px 0 20px;border-bottom:1px solid #FFF;text-align:center;cursor:pointer;}
#danji_game .label span.active{border-bottom:1px solid #3EBD92;color:#3EBD92;cursor:default;}
#danji_game .content{}
#danji_game .content .box{width:800px;height:auto;}
#danji_game .content .box a{float:left;display:block;width:130px;height:207px;padding:20px 6px 0 5px;border:solid #EEE;border-width:0 1px 1px 0;font:14px/2 "Microsoft YaHei";color:#333;text-align:center;text-decoration:none;}
#danji_game .content .box a:hover{background:#EEF3F3;color:#F60;}
#danji_game .content .box a img{display:block;width:100px;height:140px;margin:0 auto 6px auto;}
#danji_game .content .box .star{width:50px;height:18px;margin:0 auto;background:url(../images/game_bg.png) -100px -296px no-repeat;}
#danji_game .content .box .star em{display:block;height:18px;background:url(../images/game_bg.png) -100px -346px no-repeat;}

#danji_rank{float:right;width:238px;height:728px;border:1px solid #EEE;background:#FFF;overflow:hidden;}
#danji_rank .label{width:300px;height:42px;background:#EEE;font:14px/3 "Microsoft YaHei";color:#666;}
#danji_rank .label span{display:inline-block;width:119px;height:42px;text-align:center;cursor:default;}
#danji_rank .label span.active{background:#FFF;color:#3EBD92;}
#danji_rank .content{padding:6px 0 0 0;}
#danji_rank .content .box{}
#danji_rank .content .box a{display:block;height:28px;padding:6px 0 6px 16px;font:14px/2 "Microsoft YaHei";color:#666;text-decoration:none;}
#danji_rank .content .box a:hover{background:#EEF3F3;color:#F60;}
#danji_rank .content .box a em{float:left;width:20px;height:28px;margin:0 12px 0 0;font-style:normal;color:#999;text-align:center;}
#danji_rank .content .box a em.t{color:#ED3A3A;}
#danji_rank .content .box a img{float:left;width:24px;height:24px;margin:2px 12px 0 0;border-radius:20%;}

#wangluo_area{width:960px;height:auto;margin:0 auto 10px auto;overflow:hidden;}

#wangluo_game{position:relative;z-index:0;float:left;width:708px;height:728px;border:1px solid #EEE;background:#FFF;overflow:hidden;}
#wangluo_game .title{height:32px;padding:6px 6px 6px 16px;border-bottom:1px solid #EEE;font:16px/2 "Microsoft YaHei";color:#555;overflow:hidden;}
#wangluo_game .title em{display:inline-block;width:22px;height:22px;margin:4px 2px 6px 0;background:url(../images/index_bg.png) -150px 2px no-repeat;vertical-align:middle;}
#wangluo_game .label{position:absolute;z-index:1;top:0;right:0;font:14px/3 "Microsoft YaHei";color:#777;}
#wangluo_game .label span{display:inline-block;height:42px;width:auto;padding:1px 20px 0 20px;border-bottom:1px solid #FFF;text-align:center;cursor:pointer;}
#wangluo_game .label span.active{border-bottom:1px solid #3EBD92;color:#3EBD92;cursor:default;}
#wangluo_game .content{}
#wangluo_game .content .box{width:800px;height:auto;}
#wangluo_game .content .box a{float:left;display:block;width:130px;height:207px;padding:20px 6px 0 5px;border:solid #EEE;border-width:0 1px 1px 0;font:14px/2 "Microsoft YaHei";color:#333;text-align:center;text-decoration:none;}
#wangluo_game .content .box a:hover{background:#EEF3F3;color:#F60;}
#wangluo_game .content .box a img{display:block;width:100px;height:140px;margin:0 auto 6px auto;}
#wangluo_game .content .box .star{width:50px;height:18px;margin:0 auto;background:url(../images/game_bg.png) -100px -296px no-repeat;}
#wangluo_game .content .box .star em{display:block;height:18px;background:url(../images/game_bg.png) -100px -346px no-repeat;}

#wangluo_rank{float:right;width:238px;height:728px;border:1px solid #EEE;background:#FFF;overflow:hidden;}
#wangluo_rank .label{width:300px;height:42px;background:#EEE;font:14px/3 "Microsoft YaHei";color:#666;}
#wangluo_rank .label span{display:inline-block;width:119px;height:42px;text-align:center;cursor:default;}
#wangluo_rank .label span.active{background:#FFF;color:#3EBD92;}
#wangluo_rank .content{padding:6px 0 0 0;}
#wangluo_rank .content .box{}
#wangluo_rank .content .box a{display:block;height:28px;padding:6px 0 6px 16px;font:14px/2 "Microsoft YaHei";color:#666;text-decoration:none;}
#wangluo_rank .content .box a:hover{background:#EEF3F3;color:#F60;}
#wangluo_rank .content .box a em{float:left;width:20px;height:28px;margin:0 12px 0 0;font-style:normal;color:#999;text-align:center;}
#wangluo_rank .content .box a em.t{color:#ED3A3A;}
#wangluo_rank .content .box a img{float:left;width:24px;height:24px;margin:2px 12px 0 0;border-radius:20%;}

#wangye_area{width:960px;height:auto;margin:0 auto 10px auto;overflow:hidden;}

#wangye_game{position:relative;z-index:0;float:left;width:708px;height:728px;border:1px solid #EEE;background:#FFF;overflow:hidden;}
#wangye_game .title{height:32px;padding:6px 6px 6px 16px;border-bottom:1px solid #EEE;font:16px/2 "Microsoft YaHei";color:#555;overflow:hidden;}
#wangye_game .title em{display:inline-block;width:22px;height:22px;margin:4px 2px 6px 0;background:url(../images/index_bg.png) 0 -48px no-repeat;vertical-align:middle;}
#wangye_game .label{position:absolute;z-index:1;top:0;right:0;font:14px/3 "Microsoft YaHei";color:#777;}
#wangye_game .label span{display:inline-block;height:42px;width:auto;padding:1px 20px 0 20px;border-bottom:1px solid #FFF;text-align:center;cursor:pointer;}
#wangye_game .label span.active{border-bottom:1px solid #3EBD92;color:#3EBD92;cursor:default;}
#wangye_game .content{}
#wangye_game .content .box{width:800px;height:auto;}
#wangye_game .content .box a{float:left;display:block;width:130px;height:207px;padding:20px 6px 0 5px;border:solid #EEE;border-width:0 1px 1px 0;font:14px/2 "Microsoft YaHei";color:#333;text-align:center;text-decoration:none;}
#wangye_game .content .box a:hover{background:#EEF3F3;color:#F60;}
#wangye_game .content .box a img{display:block;width:100px;height:140px;margin:0 auto 6px auto;}
#wangye_game .content .box .star{width:50px;height:18px;margin:0 auto;background:url(../images/game_bg.png) -100px -296px no-repeat;}
#wangye_game .content .box .star em{display:block;height:18px;background:url(../images/game_bg.png) -100px -346px no-repeat;}

#wangye_rank{float:right;width:238px;height:728px;border:1px solid #EEE;background:#FFF;overflow:hidden;}
#wangye_rank .label{width:300px;height:42px;background:#EEE;font:14px/3 "Microsoft YaHei";color:#666;}
#wangye_rank .label span{display:inline-block;width:119px;height:42px;text-align:center;cursor:pointer;}
#wangye_rank .label span.active{background:#FFF;color:#3EBD92;cursor:default;}
#wangye_rank .content{padding:6px 0 0 0;}
#wangye_rank .content .box{}
#wangye_rank .content .box a{display:block;height:28px;padding:6px 0 6px 16px;font:14px/2 "Microsoft YaHei";color:#666;text-decoration:none;}
#wangye_rank .content .box a:hover{background:#EEF3F3;color:#F60;}
#wangye_rank .content .box a em{float:left;width:20px;height:28px;margin:0 12px 0 0;font-style:normal;color:#999;text-align:center;}
#wangye_rank .content .box a em.t{color:#ED3A3A;}
#wangye_rank .content .box a img{float:left;width:24px;height:24px;margin:2px 12px 0 0;border-radius:20%;}

#flash_area{width:960px;height:auto;margin:0 auto 10px auto;overflow:hidden;}

#flash_game{position:relative;z-index:0;float:left;width:708px;height:728px;border:1px solid #EEE;background:#FFF;overflow:hidden;}
#flash_game .title{height:32px;padding:6px 6px 6px 16px;border-bottom:1px solid #EEE;font:16px/2 "Microsoft YaHei";color:#555;overflow:hidden;}
#flash_game .title em{display:inline-block;width:22px;height:22px;margin:4px 2px 6px 0;background:url(../images/index_bg.png) -50px -49px no-repeat;vertical-align:middle;}
#flash_game .label{position:absolute;z-index:1;top:0;right:0;font:14px/3 "Microsoft YaHei";color:#777;}
#flash_game .label span{display:inline-block;height:42px;width:auto;padding:1px 20px 0 20px;border-bottom:1px solid #FFF;text-align:center;cursor:pointer;}
#flash_game .label span.active{border-bottom:1px solid #3EBD92;color:#3EBD92;cursor:default;}
#flash_game .content{}
#flash_game .content .box{width:800px;height:auto;}
#flash_game .content .box a{float:left;display:block;width:220px;height:95px;padding:18px 0 0 16px;border:solid #EEE;border-width:0 1px 1px 0;font:14px/2 "Microsoft YaHei";color:#333;text-decoration:none;}
#flash_game .content .box a:hover{background:#EEF3F3;color:#F60;}
#flash_game .content .box a img{float:left;display:block;width:72px;height:72px;margin:2px 12px 0 0;border-radius:20%;}
#flash_game .content .box a div{margin:0 0 0 84px;font-size:12px;color:#999;}
#flash_game .content .box a span.star{display:inline-block;width:50px;height:18px;margin:6px 0 0 0;background:url(../images/game_bg.png) -100px -296px no-repeat;}
#flash_game .content .box a span.star em{position:inherit;display:block;height:18px;background:url(../images/game_bg.png) -100px -346px no-repeat;}

#flash_rank{float:right;width:238px;height:728px;border:1px solid #EEE;background:#FFF;overflow:hidden;}
#flash_rank .label{width:300px;height:42px;background:#EEE;font:14px/3 "Microsoft YaHei";color:#666;}
#flash_rank .label span{display:inline-block;width:119px;height:42px;text-align:center;cursor:default;}
#flash_rank .label span.active{background:#FFF;color:#3EBD92;}
#flash_rank .content{padding:6px 0 0 0;}
#flash_rank .content .box{}
#flash_rank .content .box a{display:block;height:28px;padding:6px 0 6px 16px;font:14px/2 "Microsoft YaHei";color:#666;text-decoration:none;}
#flash_rank .content .box a:hover{background:#EEF3F3;color:#F60;}
#flash_rank .content .box a em{float:left;width:20px;height:28px;margin:0 12px 0 0;font-style:normal;color:#999;text-align:center;}
#flash_rank .content .box a em.t{color:#ED3A3A;}
#flash_rank .content .box a img{float:left;width:24px;height:24px;margin:2px 12px 0 0;border-radius:20%;}

#pic_area{position:relative;z-index:0;width:958px;height:344px;margin:0 auto 10px auto;border:1px solid #EEE;background:#FFF;overflow:hidden;}
#pic_area .title{height:32px;padding:6px 6px 6px 16px;font:16px/2 "Microsoft YaHei";color:#555;overflow:hidden;}
#pic_area .title em{display:inline-block;width:22px;height:22px;margin:6px 2px 6px 0;background:url(../images/index_bg.png) -100px -48px no-repeat;vertical-align:middle;}
#pic_area a.more{position:absolute;z-index:1;top:14px;right:14px;font:12px/1.5 "Microsoft YaHei";color:#888;}
#pic_area a.more:hover{color:#F60;}
#pic_area a.more span{margin:0 0 0 1px;font-family:SimSun;}
#pic_area .content{}
#pic_area .content a{position:absolute;z-index:1;display:block;overflow:hidden;}
#pic_area .content a:hover{}
#pic_area .content a img{display:block;transition:all 0.3s;}
#pic_area .content a:hover img{transform:scale(1.07);}
#pic_area .content a .c{display:none;position:absolute;z-index:2;bottom:0;left:0;width:100%;height:30px;background:#000;filter:alpha(opacity=50);opacity:0.5;}
#pic_area .content a:hover .c{display:block;}
#pic_area .content a .w{display:none;position:absolute;z-index:2;bottom:0;left:0;width:100%;height:30px;font:12px/2.5 "Microsoft YaHei";color:#FFF;text-align:center;overflow:hidden;}
#pic_area .content a:hover .w{display:block;}
#pic_area .content a.p0{top:44px;left:0;width:360px;height:300px;}
#pic_area .content a.p0 img{width:360px;height:300px;}
#pic_area .content a.p1{top:44px;left:362px;width:360px;height:149px;}
#pic_area .content a.p1 img{width:360px;height:149px;}
#pic_area .content a.p2{top:44px;left:724px;width:234px;height:149px;}
#pic_area .content a.p2 img{width:234px;height:149px;}
#pic_area .content a.p3{top:195px;left:362px;width:234px;height:149px;}
#pic_area .content a.p3 img{width:234px;height:149px;}
#pic_area .content a.p4{top:195px;left:598px;width:360px;height:149px;}
#pic_area .content a.p4 img{width:360px;height:149px;}

#rank_area{width:960px;height:917px;margin:0 auto 20px auto;overflow:hidden;}
#rank_area .area{float:left;width:229px;height:auto;border:1px solid #EEE;background:#FFF;overflow:hidden;}
#rank_area .area .title{height:32px;padding:6px 6px 6px 16px;border-bottom:1px solid #EEE;font:16px/2 "Microsoft YaHei";color:#555;overflow:hidden;}
#rank_area .area .title em{display:inline-block;width:20px;height:20px;margin:4px 8px 8px 0;vertical-align:middle;}
#rank_area .area .content{}
#rank_area .area .content a{display:block;_width:300px;height:24px;padding:9px 0 9px 16px;font:12px/2 "Microsoft YaHei";color:#666;text-decoration:none;}
#rank_area .area .content a:hover{background:#EEF3F3;color:#F60;}
#rank_area .area .content a em.r{float:left;display:block;width:24px;height:18px;margin:3px 16px 3px 0;font-style:normal;line-height:1.4;color:#999;text-align:center;}
#rank_area .area .content a em.t_0{background:#FF6464;color:#FFF;}
#rank_area .area .content a em.t_1{background:#FF9A63;color:#FFF;}
#rank_area .area .content a em.t_2{background:#FAD669;color:#FFF;}
#rank_area .area .content a img{float:left;display:block;width:24px;height:24px;margin:0 16px 0 0;border-radius:20%;}
#rank_area .area .content a div{display:none;}
#rank_area .area .content a.active{height:48px;padding:12px 0 12px 16px;font-size:14px;}
#rank_area .area .content a.active em.r{display:none;}
#rank_area .area .content a.active img{width:48px;height:48px;margin:0 12px 0 0;}
#rank_area .area .content a.active div{display:block;margin:0 0 0 60px;font:12px/1.7 "Microsoft YaHei";color:#999;}
#rank_area .area .content a.active div span.star{display:inline-block;width:50px;height:18px;margin:0 0 2px 12px;background:url(../images/game_bg.png) -100px -296px no-repeat;vertical-align:middle;}
#rank_area .area .content a.active div span.star em{position:inherit;display:block;height:18px;background:url(../images/game_bg.png) -100px -346px no-repeat;}

#rank_danji{margin:0 12px 0 0;}
#rank_danji .title em{background:url(../images/index_bg.png) 0 -100px no-repeat;}
#rank_wangye{margin:0 12px 0 0;}
#rank_wangye .title em{background:url(../images/index_bg.png) -50px -100px no-repeat;}
#rank_wangluo{margin:0 12px 0 0;}
#rank_wangluo .title em{background:url(../images/index_bg.png) 0 -150px no-repeat;}
#rank_shouji .title em{background:url(../images/index_bg.png) -50px -150px no-repeat;}

#quick_go_top{display:none;position:fixed;_position:absolute;z-index:0;left:50%;bottom:10px;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-10));width:40px;height:40px;background:url(../images/go_top_bg.png) 0 0 no-repeat;cursor:pointer;}
#quick_go_top:hover{background-position:0 -50px;}

#b404{width:320px;height:100px;margin:100px auto;padding:220px 0 0 0;background:url(http://s.doyo.cn/material/images/box/404_bg.png) 0 0 no-repeat;font:18px/2 "Microsoft YaHei";color:#019E82;text-align:center;}
#b404 a.close{display:inline-block;margin:16px 0 0 0;padding:1px 40px;border:1px solid #3EBD93;border-radius:3px;background:#EEE;font:14px/2 "Microsoft YaHei";color:#3EBD93;text-decoration:none;}
#b404 a.close:hover{background:#3EBD93;color:#FFF;}

/* Down Move */
#down_move_cover{position:fixed;_position:absolute;z-index:10;top:0;left:0;width:100%;height:100%;_height:expression(eval(document.body.offsetHeight>document.documentElement.clientHeight?document.body.offsetHeight:document.documentElement.clientHeight));background:#000;filter:alpha(opacity=70);opacity:0.7;}
#down_move_content{position:fixed;_position:absolute;z-index:10;right:0;bottom:0;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight));width:333px; height:80px;padding:80px 0 0 30px;background:url(../images/down_move_bg.png) 0 0 no-repeat;}
#down_move_content button{width:147px;height:49px;border:0;background:url(../images/down_move_bg.png) 0 -200px no-repeat;cursor:pointer;}

#debug_panel{position:absolute;z-index:30;top:0;right:0;width:0;max-width:300px;height:0;padding:8px;background:#FFC;font:12px/1.5 SimSun;color:#666;word-wrap:break-word;word-break:break-all;cursor:default;filter:alpha(opacity=0);opacity:0;overflow:hidden;}
#debug_panel a{color:#18D;}
#debug_panel a:hover{color:#F60;}

/* Redesign index */
.hide {display: none!important;}
.white {background: #fff;}
.clearfix{margin-right:auto;margin-left:auto;*zoom:1}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0}.clearfix:after{clear:both}
.icon { background: url(../images/icon.png) 400px 400px no-repeat;}
.container {
  width: 960px;
  margin: auto;
}
.index2_doyobox {
  background: #fff;
  padding-bottom: 16px;
  margin-bottom: 12px;
}
.index2_doyobox ul.hotgame {
  margin: 0 15px 8px;
  border-bottom: 1px dashed #e2e2e2; 
}
.index2_doyobox ul.hotgame li {
   position: relative;
  float: left;
  margin: 18px 0 3px 18px;
}
.index2_doyobox ul.hotgame li:first-child {
  margin-left: 0;
}
.index2_doyobox ul.hotgame li.hot::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 40px;
  height: 40px;
  background: url(../images/icon.png) 400px 400px no-repeat;
  background-position: 0 0;
}
.index2_doyobox .hotgame li img {
  width: 140px;
  height: 86px;
}
.index2_doyobox .hotgame li p {
  width: 140px;
  height: 42px;
  line-height: 42px;
  color: #444444;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.index2_doyobox .hotgame li a:hover {
  text-decoration: none;
}
.index2_doyobox .hotgame li a:hover p {
  color: #f8656c;
}
.index2_doyobox .type>li p {
  float: left;
  position: relative;
  font-size: 16px;
  color: #666666;
  height: 36px;
  line-height: 36px;
  font-weight: bold;
  margin: 0 24px 0 23px;
}
.index2_doyobox .type>li p::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 13px;
  background: url(../images/icon.png) 400px 400px no-repeat;
  background-position: -52px 0;
  top: 12px;
  right: -19px;
}
.index2_doyobox .type>li>ul {
  float: left;
  width: 880px;
}
.index2_doyobox .type>li>ul>li{
  float: left;
  position: relative;
}
.index2_doyobox .type>li>ul>li::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 16px;
  background: #dddddd;
  right: 0;
  top: 10px;
}
.index2_doyobox .type>li>ul>li a {
  display: block;
  height: 36px;
  line-height: 36px;
  font-size: 13px;
  color: #000000;
  margin: 0 12px;
}
.index2_doyobox .type>li>ul>li a:hover {
  color: #f8656c;
  text-decoration: none;
}
.index2_doyobox .type>li>ul>li a.hotter:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 16px;
  background: url(../images/icon.png) 400px 400px no-repeat;
  background-position: -382px -11px;
  top: 2px;
  right: -2px;
  z-index: 1;
}
.index2_doyobox .type>li>ul>li a.newest:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 16px;
  background: url(../images/icon.png) 400px 400px no-repeat;
  background-position: -367px -11px;
  top: 2px;
  right: -2px;
  z-index: 1;
}
.gameCommon {
  background: #fff;
  padding-bottom: 20px;
  margin-bottom: 12px;
}
.gameCommon .top {
  height: 53px;
  margin: 7px 16px 14px;
  border-bottom: 1px solid #0091ff;
}
.gameCommon .top .type {
  float: left;
  position: relative;
  width: 96px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  color: #333333;
  font-weight: bold;
  border-bottom: 4px solid #0091ff;
  padding-left: 41px;
}
.gameCommon .top .type::after {
  content: "";
  position: absolute;
  width: 34px;
  height: 32px;
  background: url(../images/icon.png) 400px 400px no-repeat;
  background-position: -188px 0;
  left: 0;
  top: 3px;
}
.gameCommon .top .typeBar {
  float: left;
}
.gameCommon .top .typeBar li {
  float: left;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #666666;
  margin: 3px 16px 0 12px;
  position: relative;
  cursor: pointer;
}
.gameCommon .top .typeBar li::after {
  content: "/";
  position: absolute;
  font-size: 15px;
  color: #b7b7c6;
  right: -16px;
  top: 0;
}
.gameCommon .top .typeBar li:first-child {
  margin-left: 24px;
}
.gameCommon .top .typeBar li.current {
  color: #0091ff;
}
.gameCommon .top .more {
  float: right;
  font-size: 15px;
  color: #999999;
  font-weight: bold;
  margin-top: 22px;
}
.gameCommon .left {
  float: left;
  width: 676px;
}
.gameCommon .left ul li {
  float: left;
}
.gameCommon .left ul li a {
  display: block;
  width: 118px;
  color: #333333;
  margin: 5px 7px 0;
}
.gameCommon .left ul li a img {
  display: block;
  width: 100px;
  height: 140px;
  margin: 0 auto;
}
.gameCommon .left ul li a p {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.gameCommon .left ul li a:hover {
  text-decoration: none;
  color: #8dc2ff;
}
.gameCommon .right {
  float: left;
  width: 284px;
  margin-top: 3px;
}
.gameCommon .right .tabControl {
  width: 270px;
  height: 37px;
  border-radius: 4px;
  background: #f4f4f4;
}
.gameCommon .right .tabControl div {
  float: left;
  width: 135px;
  height: 37px;
  line-height: 37px;
  font-size: 15px;
  color: #666666;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.gameCommon .right .tabControl div.current {
  background: #0091ff;
  border-radius: 4px;
  color: #fff;
}
.gameCommon .right .tabControl div.current::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  margin: auto;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #0091ff;
}
.gameCommon .right ul li .type1 {
  display: block;
  width: 268px;
  height: 39px;
  line-height: 39px;
  border-bottom: 1px solid #ededed;
}
.gameCommon .right ul li:first-child .type1 {
  margin-top: 10px;
}
.gameCommon .right ul li .rank {
  float: left;
  width: 26px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  color: #cccccc;
  font-weight: bold;
  font-style: italic;
  margin: 6px 14px 0 4px;
}
.gameCommon .right ul li:nth-child(1) .rank {
  background-position: -76px 0;
}
.gameCommon .right ul li:nth-child(2) .rank {
  background-position: -114px 0;
}
.gameCommon .right ul li:nth-child(3) .rank {
  background-position: -148px 0;
}
.gameCommon .right ul li .type1 .name {
  float: left;
  font-size: 14px;
  color: #444444;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gameCommon .right ul li .type1 .type {
  float: right;
  font-size: 14px;
  color: #ababab;
}
.gameCommon .right ul li .type2 {
  display: none;
  height: 100px;
  padding: 16px 0;
  border-bottom: 1px solid #ededed;
}
.gameCommon .right ul li .type2 .rank {
  margin-top: 28px;
}
.gameCommon .right ul li .type2 img {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 16px;
  margin-right: 10px;
}
.gameCommon .right ul li .type2 .name {
  width: 128px;
  float: left;
  height: 22px;
  line-height: 22px;
  font-size: 16px;
  color: #444444;
  white-space: nowrap;
  overflow: hidden;
}
.gameCommon .right ul li .type2 .type {
  width: 128px;
  float: left;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  color: #999999;
  white-space: nowrap;
  overflow: hidden;
}
.gameCommon .right ul li .type2 .down {
  float: left;
  width: 66px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  color: #ff7a5f;
  border: 1px solid #ff7a5f;
  border-radius: 4px;
  margin-top: 14px;
}
.gameCommon .right ul li .type2 .start {
  float: left;
  width: 66px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  color: #11b897;
  border: 1px solid #11b897;
  border-radius: 4px;
  margin-top: 14px;
}
.gameCommon .right ul li.current .type1 {
  display: none;
}
.gameCommon .right ul li.current .type2 {
  display: block;
}
.gameCommon .right ul li:hover .name {
  color: #8dc2ff;
}
.gameCommon .left ul li a:hover {
  text-decoration: none;
  color: #8dc2ff;
}
.index4_doyobox .top {
  border-color: #d10849;
}
.index4_doyobox .top .type {
  border-color: #d10849;
}
.index4_doyobox .top .type::after {
  content: "";
  width: 36px;
  height: 32px;
  background-position: -235px -1px;
  top: 8px;
}
.index4_doyobox .top .typeBar li.current {
  color: #d10849;
}
.index4_doyobox .left ul li a:hover {
  color: #d10849;
}
.index4_doyobox .right .tabControl div.current {
  background: #d10849;
}
.index4_doyobox .right .tabControl div.current::before {
  border-top-color: #d10849;
}
.index4_doyobox .right ul li:hover .name {
  color: #d10849;
}
.index5_doyobox .top {
  border-color: #40be93;
}
.index5_doyobox .top .type {
  border-color: #40be93;
}
.index5_doyobox .top .type::after {
  content: "";
  width: 36px;
  height: 32px;
  background-position: -288px -1px;
  top: 8px;
}
.index5_doyobox .top .typeBar li.current {
  color: #40be93;
}
.index5_doyobox .left ul li a:hover {
  color: #40be93;
}
.index5_doyobox .right .tabControl div.current {
  background: #40be93;
}
.index5_doyobox .right .tabControl div.current::before {
  border-top-color: #40be93;
}
.index5_doyobox .right ul li:hover .name {
  color: #40be93;
}
.index6_doyobox .rankBox {
  float: left;
  background: #fff;
  width: 311px;
  padding: 18px 0 0 0;
  margin: 0 13px 39px 0;
}
.index6_doyobox .rankBox .rankBar {
  width: 100%;
  height: 66px;
  background: #fa9a35;
  position: relative;
}
.index6_doyobox .rankBox .rankBar .tlt {
  display: inline-block;
  height: 64px;
  line-height: 64px;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  text-indent: 19px;
  position: relative;
}
.index6_doyobox .rankBox .rankBar .tlt::after {
  content: "";
  position: absolute;
  top: 20px;
  right: -33px;
  width: 24px;
  height: 24px;
  background: url(../images/icon.png) 400px 400px no-repeat;
  background-position: -333px -3px;
}
.index6_doyobox .rankBox .rankBar i {
  position: absolute;
  width: 89px;
  height: 66px;
  bottom: 0;
  right: 12px;
  background-position: 0 -334px;
}
.index6_doyobox .rankBox ul {
  padding: 10px 0 30px 0;
}
.index6_doyobox .rankBox ul li .type1 {
  display: block;
  width: 280px;
  height: 52px;
  line-height: 52px;
  margin: 0 auto;
}
.index6_doyobox .rankBox ul li .rank {
  float: left;
  width: 26px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  color: #cccccc;
  font-weight: bold;
  font-style: italic;
  margin: 13px 13px 0 12px;
}
.index6_doyobox .rankBox ul li:nth-child(1) .rank {
  background-position: -76px 0;
}
.index6_doyobox .rankBox ul li:nth-child(2) .rank {
  background-position: -114px 0;
}
.index6_doyobox .rankBox ul li:nth-child(3) .rank {
  background-position: -148px 0;
}
.index6_doyobox .rankBox ul li .type1 .name {
  float: left;
  font-size: 16px;
  color: #444444;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.index6_doyobox .rankBox ul li .type2 {
  display: none;
  width: 280px;
  height: 76px;
  padding: 12px 0;
  margin: 10px auto;
  box-shadow: 0 0 7px rgb(58 70 94 / 20%);
}
.index6_doyobox .rankBox ul li .type2 .rank {
  margin: -2px 14px 0 12px;
}
.index6_doyobox .rankBox ul li .type2 img {
  float: left;
  width: 76px;
  height: 76px;
  border-radius: 14px;
  margin-right: 17px;
}
.index6_doyobox .rankBox ul li .type2 .name {
  width: 128px;
  float: left;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  color: #333333;
  white-space: nowrap;
  overflow: hidden;
}
.index6_doyobox .rankBox ul li .type2 .type {
  width: 128px;
  float: left;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #999999;
  white-space: nowrap;
  overflow: hidden;
}
.index6_doyobox .rankBox ul li .type2 .down {
  float: left;
  width: 66px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  color: #f8b551;
  border: 1px solid #f8b551;
  border-radius: 4px;
  margin-top: 3px;
}
.index6_doyobox .rankBox ul li .type2 .start {
  float: left;
  width: 66px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  color: #11b897;
  border: 1px solid #84ccc9;
  border-radius: 4px;
  margin-top: 3px;
}
.index6_doyobox .rankBox ul li.current .type1 {
  display: none;
}
.index6_doyobox .rankBox ul li.current .type2 {
  display: block;
}
.index6_doyobox .rankBox.pc .rankBar {
  background: #10c55b;
}
.index6_doyobox .rankBox.pc .rankBar i {
  width: 116px;
  height: 66px;
  right: 8px;
  background-position: -102px -334px;
}
.index6_doyobox .rankBox.web {
  margin-right: 0;
}
.index6_doyobox .rankBox.web .rankBar {
  background: #4ea1f8;
}
.index6_doyobox .rankBox.web .rankBar i {
  width: 125px;
  height: 66px;
  right: 0;
  background-position: -231px -334px;
}
.index6_doyobox .rankBox.web ul li .type2 .down {
  border-color: #03a9f4;
  color: #4ea1f8;
}
.index6_doyobox .rankBox ul li:hover .name {
  color: #f8b551;
}
.index6_doyobox .rankBox.pc ul li:hover .name {
  color: #11b897;
}
.index6_doyobox .rankBox.web ul li:hover .name {
  color: #4ea1f8;
}
/* 开通会员 */
.joinMemberBox {
  width: 1010px;
  height: 630px;
  background: url(../images/vip.jpg) no-repeat center;
  background-size: cover;
  /* background-size: 100% 100%; */
  /* background-attachment:fixed; */
  margin: auto;
  position: relative;
}
.joinMemberBox .openMember {
  position: absolute;
  width: 194px;
  height: 46px;
  line-height: 46px;
  top: 60%;
  left: 0;
  right: 0;
  font-size: 21px;
  color: #fc8200;
  font-weight: bold;
  text-align: center;
  background: #fcee01;
  border-radius: 4px;
  margin: auto;
  border-bottom: 4px solid #80790a;
  opacity: .9;
}
.joinMemberBox .openMember:hover {
  text-decoration: none;
  opacity: 1;
}
/* 会员充值页 */
.memberBar {
  width: 256px;
  height: 36px;
  margin: 37px auto 0;
}
.memberBar div {
  float: left;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  color: #888888;
  position: relative;
  text-align: center;
  margin: 0 18px;
  padding-left: 33px;
  cursor: pointer;
  font-weight: bold;
}
.memberBar div em {
  position: absolute;
  width: 1px;
  height: 14px;
  background: #d4d4d4;
  top: 13px;
  right: -18px;
}
.memberBar div::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 18px;
  background: url(../images/icon.png) 400px 400px no-repeat;
  background-position: 0 -102px;
  top: 8px;
  left: 0;
}
.memberBar div.current {
  color: #ffb92e;
}
.memberBar div.current::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 5px;
  background: #ffb92e;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 4px;
}
.memberBar div:nth-child(3) {
  padding-left: 28px;
}
.memberBar div:nth-child(3)::before {
  background-position: -40px -102px;
  top: 9px;
}
.memberBar div:nth-child(3).current {
  color: #ff0000;
}
.memberBar div:nth-child(3).current::after {
  background: #ff3f15;
}
.memberBox {
  width: 918px;
  margin: auto;
  position: relative;
}
.memberBox .memberPrivileges {
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #1276e5;
  text-decoration: underline;
}
.memberBox ul {
  padding-top: 30px;
  overflow: hidden;
}
.memberBox ul li {
  float: left;
  width: 210px;
  height: 104px;
  border: 1px solid #e5e5e5;
  margin: 9px 25px 23px 0;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}
.memberBox ul li:last-child {
  margin-right: 0;
}
.memberBox ul li p {
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #666666;
  text-align: center;
  margin: 23px 0 13px;
}
.memberBox ul li p span {
  font-size: 34px;
  color: #ff3f15;
  font-weight: bold;
  margin-right: 6px;
}
.memberBox ul li em {
  color: #ff8372;
}
.memberBox ul li div {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  color: #999999;
  text-align: center;
  padding: 0 14px;
}
.memberBox ul li.current {
  border: 2px solid #ffc942;
}
.memberBox ul li.current div {
  background: #ffb92e;
  border-radius: 12px;
  color: #fff;
}
.memberBox ul li.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 27px;
  height: 29px;
  background: url(../images/icon.png) 400px 400px no-repeat;
  background-position: -80px -95px;
}
.memberBox ul li .tag {
  position: absolute;
  top: -10px;
  left: -1px;
  border-radius: 0 6px 0 6px;
  background: #ff0000;
  font-size: 12px;
  color: #fff;
  height: 22px;
  line-height: 22px;
  padding: 0 8px;
}
.memberBox ul li.current .tag {
  left: -2px;
}
.memberBox .payBox {
  width: 914px;
  height: 277px;
  text-align: center;
  border: 1px dashed #d9d9d9;
  margin: 0 auto 5px;
}
.memberBox .payBox .sum {
  margin: 18px 0 18px 0;
}
.memberBox .payBox .sum em {
  font-size: 24px;
  color: #ff5a00;
  font-weight: bold;
}
.memberBox .payBox dl {
  display: inline-block;
  margin-right: 106px;
}
.memberBox .payBox dd {
  width: 166px;
  height: 166px;
  border: 1px solid #4bb316;
  border-radius: 4px;
}
.memberBox .payBox dd img {
  display: block;
  width: 132px;
  height: 132px;
  margin: 17px auto;
}
.memberBox .payBox dt {
  height: 46px;
  line-height: 46px;
  color: #4bb316;
  font-size: 18px;
  font-weight: bold;
}
.memberBox .payBox dt i {
  display: inline-block;
  width: 24px;
  height: 21px;
  background-position: -123px -101px;
  vertical-align: top;
  position: relative;
  top: 12px;
  margin-right: 6px;
}
.memberBox .payBox dl:nth-child(3) {
  margin-right: 0;
}
.memberBox .payBox dl:nth-child(3) dd {
  border-color: #1676ff;
}
.memberBox .payBox dl:nth-child(3) dt {
  color: #1676ff;
}
.memberBox .payBox dl:nth-child(3) dt i {
  width: 24px;
  height: 24px;
  top: 11px;
  background-position: -161px -98px;
}
.memberExplain {
  width: 918px;
  margin: auto;
}
.memberExplain .explain {
  line-height: 24px;
  font-size: 14px; 
  color: #666666;
}
.memberExplain .explain a:hover {
  text-decoration: none;
}
.memberExplain .explain a i {
  display: inline-block;
  width: 12px;
  height: 15px;
  background-position: -197px -103px;
  margin: 0 3px;
}
.memberExplain .explain span {
   color: #ffa772;
}
.memberExplain .explain:last-child { 
  margin-bottom: 12px;
}
.privilegeBg {
  width: 1010px;
  height: 630px;
  background: url(../images/vb1.jpg) no-repeat center;
  background-size: cover;
  margin: auto;
}
.superPrivilegeBg {
  width: 1010px;
  height: 630px;
  background: url(../images/vb2.jpg) no-repeat center;
  background-size: cover;
  margin: auto;
}
/* 支付成功 */
.billBox {
  width: 450px;
  padding: 34px 0 100px 0;
  margin: auto;
}
.billBox .billSuccess {
  display: block;
  width: 166px;
  height: 157px;
  background-position: 0 -165px;
  margin: auto;
}
.billBox p.tlt {
  height: 56px;
  line-height: 56px;
  font-size: 25px;
  color: #37d0aa;
  text-align: center;
}
.billMsg {
  width: 427px;
  height: 192px;
  background: url(../images/bill.jpg) no-repeat;
  background-size: cover;
  margin: 10px 0 100px 0;
  padding: 49px 0 0 23px;
}
.billMsg .txt {
  line-height: 24px;
  font-size: 14px;
  color: #666666;
}
.billMsg .txt em {
  color: #ff8558;
}
.billMsg .txt:nth-child(2) {
  margin-bottom: 19px;
}
.billMsg .txt:nth-child(2) em {
  font-weight: bold;
}
.billMsg .explain {
  line-height: 24px;
  font-size: 12px; 
  color: #666666;
}
.billMsg .explain a:hover {
  text-decoration: none;
}
.billMsg .explain a i {
  display: inline-block;
  width: 12px;
  height: 15px;
  background-position: -197px -103px;
  margin: 0 3px;
}
.billMsg .explain span {
   color: #ffa772;
}
/* 下载页 */
.downBar {
  width: 990px;
  color: #333333;
  font-size: 12px;
  overflow: hidden;
  margin-left: 20px;
}
.downBar a {
  float: left;
  height: 36px;
  line-height: 36px;
  color: #5cb4f9;
}
.downBar span {
  float: left;
  height: 36px;
  line-height: 36px;
  max-width: 800px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 6px;
}
.downBox {
  width: 980px;
  height: 140px;
  margin: 35px 0 123px 30px;
}
.downBox img {
  float: left;
  width: 100px;
  height: 140px;
  margin-right: 25px;
}
.downBox .cont {
  float: left;
  width: 836px;
}
.downBox .cont .name {
  height: 36px;
  line-height: 36px;
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  padding-bottom: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #ececec;
}
.downBox .downLine {
  height: 52px;
  line-height: 52px;
}
.downBox .downLine .rate {
  float: left;
  font-size: 14px;
  color: #3c6889;
  margin-right: 12px;
}
.downBox .downLine .line {
  float: left;
  width: 550px;
  height: 14px;
  line-height: 14px;
  background: #e5e6ea;
  position: relative;
  margin-top: 20px;
}
.downBox .downLine .line span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 12px;
  color: #3c6889;
  text-align: center;
}
.downBox .downLine .line span i {
  position: relative;
  z-index: 1;
}
.downBox .downLine .line span em {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 0%;
  background: #06a8ff;
}
.downBox .downLine .speed {
  float: left;
  font-size: 12px;
  color: #06a8ff;
  margin-left: 6px;
  position: relative;
  top: 2px;
}
.downBox .downLine .speeding {
  float: left;
  font-size: 12px;
  color: #f7ca67;
  margin-left: 8px;
  position: relative;
  top: 2px;
}
.downBox .downLine .pause, .downBox .downLine .cancel, .downBox .downLine .player {
  float: right;
  width: 18px;
  height: 18px;
  margin-top: 18px;
}
.downBox .downLine .pause {
  background-position: -242px -102px;
  margin-right: 18px;
}
.downBox .downLine .player {
  background-position: -242px -130px;
  margin-right: 18px;
}
.downBox .downLine .cancel {
  background-position: -268px -102px;
}
.downBox .downMsg {
  height: 26px;
  line-height: 26px;
}
.downBox .downMsg .speedEve {
  float: left;
  width: 90px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  color: #64360d;
  text-align: center;
  background: #f8d388;
  border-radius: 2px;
  cursor: pointer;
}
.downBox .downMsg .speedEve:hover {
  text-decoration: none;
  opacity: .9;
}
.downBox .downMsg .speedEve i {
  display: inline-block;
  width: 7px;
  height: 13px;
  background-position: -220px -105px;
  vertical-align: top;
  margin: 7px 7px 0 0;
}
.downBox .downMsg span {
  float: left;
  font-size: 12px;
  color: #999999;
}
.downBox .downMsg span em {
  margin: 0 15px 0 17px;
}
.downBox .downMsg .speeding {
  float: left;
  font-size: 12px;
  color: #e57910;
}
.downBox .downMsg .speeding i {
  display: inline-block;
  width: 7px;
  height: 13px;
  background-position: -220px -105px;
  vertical-align: top;
  margin: 7px 6px 0 13px;
}
.game_recommend {
  width: 993px;
  overflow: hidden;
  padding: 3px 0 60px 17px;
  background: #f4f4f5;
}
.game_recommend .tlt {
  height: 64px;
  line-height: 64px;
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  text-indent: 22px;
}
.game_recommend ul li {
  float: left;
  width: 140px;
}
.game_recommend ul li img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 16px;
  margin: 0 auto;
}
.game_recommend ul li .name {
  line-height: 36px;
  color: #4b4b4b;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.game_recommend ul li a:hover {
  text-decoration: none;
}
.game_recommend ul li a:hover .name {
  color: #5cb4f9;
}
.tryMemberBox, .memberSpeedBox {
  width: 1010px;
  height: 67px;
  line-height: 67px;
  background: #fff2d5;
}
.tryMemberBox i.lightning, .memberSpeedBox i.lightning {
  float: left;
  width: 12px;
  height: 20px;
  background-position: -299px -101px;
  margin: 24px 8px 0 34px;
}
.tryMemberBox p, .memberSpeedBox p {
  float: left;
  font-size: 12px;
  color: #333333;
  min-width: 140px;
}
.tryMemberBox p span, .memberSpeedBox p span {
  color: #d57708;
}
.tryMemberBox .tryMemberBtn, .memberSpeedBox .tryMemberBtn {
  float: left;
  width: 124px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border: 1px solid #3393ff;
  border-radius: 2px;
  margin: 14px 0 0 14px;
  font-size: 12px;
  color: #3393ff;
  cursor: pointer;
}
.memberSpeedBox .tryMemberBtn {
  color: #64360d;
  border-color: #f8d388;
  background: #f8d388;
}
.tryMemberBox .tryMemberBtn:hover, .memberSpeedBox .tryMemberBtn:hover {
  text-decoration: none;
  opacity: .9;
}
.tryMemberBox i.close, .memberSpeedBox i.close {
  float: right;
  width: 12px;
  height: 20px;
  background-position: -325px -106px;
  margin: 29px 21px 0 0;
}
.cancelDownBox, .cancelDownBox2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.cancelDown {
  width: 410px;
  height: 238px;
  position: fixed;
  top: 120px;
  left: 284px;
  background: #fff;
  box-shadow: 0 0 21px #00000050;
}
.cancelDown .top {
  height: 32px;
  line-height: 32px;
  background: #35373b;
  font-size: 12px;
  color: #fff;
  margin-bottom: 5px;
}
.cancelDown .top .tip {
  float: left;
  width: 16px;
  height: 14px;
  margin: 8px 5px 0 10px;
  background-position: -378px -102px;
}
.cancelDown .top .close {
  float: right;
  width: 11px;
  height: 11px;
  background-position: -360px -104px;
  margin: 10px 12px 0 0;
}
.cancelDown .attention {
  height: 46px;
  line-height: 46px;
  color: #494949;
  font-size: 14px;
  text-indent: 15px;
}
.cancelDown .cancelGame {
  width: 358px;
  height: 62px;
  background: #eef3f3;
  padding: 13px 16px 0;
  margin: 0 auto;
}
.cancelDown .cancelGame img {
  float: left;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-right: 12px;
}
.cancelDown .cancelGame .cont {
  float: left;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
}
.cancelDown .cancelGame .cont .name {
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  color: #ff6600;
}
.cancelDown .cancelGame .cont .type {
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  color: #999999;
}
.cancelDown .cancelGame .cont .type span {
  float: left;
}
.cancelDown .cancelGame .cont .type span.star{width:50px;height:18px;margin:2px 0 0 12px;background:url(../images/game_bg.png) -100px -296px no-repeat;}
.cancelDown .cancelGame .cont .type span.star em{position:inherit;display:block;height:18px;background:url(../images/game_bg.png) -100px -346px no-repeat;}
.cancelDown .cancelGame .state {
  float: right;
  font-size: 12px;
  color: #999999;
  margin-top: 19px;
}
.cancelDown .btnBox {
  padding-top: 31px;
  text-align: center;
}
.cancelDown .btnBox div, .cancelDown .btnBox a {
  display: inline-block;
  width: 80px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  border-radius: 12px;
  margin-right: 12px;
  box-sizing: border-box;
  background: #0d7fff;
  cursor: pointer;
}
.cancelDown .btnBox div:hover, .cancelDown .btnBox a:hover {
  text-decoration: none;
  opacity: .9;
}
.cancelDown .btnBox div:last-child {
  margin-right: 0;
}
.cancelDown .btnBox div.cancel {
  color: #4da1ff;
  border: 1px solid #0d7fff;
  background: #fff;
}
.cancelDownBox2 .btnBox .joinMemberBtn {
  background: #f8d388;
  color: #64360d;
}
.cancelDownBox2 .btnBox .openClouldBtn {
  background: #3393ff;
}
.cancelDownBox2 .btnBox .delete {
  background: #d8d8d8;
  color: #333333;
}





